@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

@layer base {
    .container-view {
        /* @apply max-w-lg md:max-w-3xl px-0 md:px-32; */
        @apply px-0 md:px-32;
    }
}

@font-face {
    font-family: 'NBInternational';
    src: url('./fonts/nb-international.otf') format('opentype');
}
@font-face {
    font-family: 'WorkSans';
    src: url('./fonts/WorkSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Ogg';
    src: url('./fonts/OggText-Bold-BF646c18fc4aabb.ttf') format('truetype')
}
@font-face {
    font-family: 'OggBook';
    src: url('./fonts/OggText-Book-BF646c18fc52250.ttf') format('truetype')
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.view-button {
    padding: 10px, 20px, 10px, 20px;
    border-radius: 8px;
    width: 102px;
    height: 44px;
    color: #FFFFFF;
    border: 1.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
